<ion-view view-title="Account">
  <ion-content>
    <ion-list>
    <!-- <ion-toggle  ng-model="settings.enableFriends">
        Enable Friends
    </ion-toggle> -->
    <form>
      <label>Set Search Radius: </label>
      <label>0 miles</label>
      <input type="range"/>
      <label>100 miles</label>
    </form>
    <!-- <div layout>
      <div flex="10" layout layout-align="center center">
        <span class="md-body-1">default</span>
      </div>
      <md-slider flex md-discrete ng-model="rating1" step="1" min="1" max="5" aria-label="rating">
      </md-slider>
    </div> -->
    </ion-list>
  </ion-content>
</ion-view>
